{% extends 'base.html' %}

{% block title %}
Đăng ký
{% endblock title %}

{% block content %}
<div class="card bg-light p-5">

{% for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
<strong>{{message}}</strong>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
<h3 class="text-dark">Dang ky</h3>
<form action="/auth/signup" method="post">
  {% csrf_token %}
  <br />

  <label for="firstName">Họ</label>
  <div class="form-group">
    <input
      type="text"
      class="form-control p-2"
      id="firstName"
      name="firstName"
      required
    />
  </div>

  <label for="lastName">Tên</label>
  <div class="form-group">
    <input
      type="text"
      class="form-control p-2"
      id="lastName"
      name="lastName"
      required
    />
  </div>

  <label for="email">Email</label>
  <div class="form-group">
    <input
      type="email"
      class="form-control p-2"
      id="email"
      name="email"
      required
    />
  </div>
  <label for="pass1">Password</label>
  <div class="form-group">
    <input
      type="password"
      class="form-control p-2"
      id="pass1"
      name="pass1"
      required
    />
  </div>
 
  <br />

  <label for="pass2">Xác nhận mật khẩu</label>
  <div class="form-group">
    <input
      type="password"
      class="form-control p-2"
      id="pass2"
      name="pass2"
      required
    />
  </div>
 
  <br />
  <button type="submit" class="btn btn-dark">Đăng ký</button>
  <br>
  <span> Forget Password? <a href="/auth/request-reset-email/">Reset</a></span>
  <br>
  <br />
  Đã có tài khoản? <a href="/auth/login">Đăng nhập</a>
  <br />
</form>
</div>
</div>
{% endblock content %} 